.score-section{
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  z-index: 1000;
}

.score-txt, .score-value{
  font-family:fantasy;
  font-size: 40px;
  color: white;
}