.main-spaceship{
  /* background-color: red; */

  position: fixed;

  width: 35px;
  height: 35px;

  margin-left: 46vw;
  margin-top: 92vh; 
}

.main-spaceship-img{
  height: 100%;
  width: 100%;
}

.main-spaceship-engine-flame{
  /* background-color: blue; */

  position: fixed;

  margin-left: -23.1px;
}

.main-spaceship-bullets-img{
  /* background-color: red; */
  
  position: fixed;

  width: 16px;
  height: 20px;

  margin-left: 50px;
}